main {
  max-width: 800px;
  background: #fbe7d1;
  border-radius: 10px;
  margin: auto;
  padding: 1rem 2rem;
  text-align: center;
  overflow: hidden;
}

form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-group {
  display: grid;
  position: relative;
}

.form-input {
  padding: 8px 10px;
  max-width: 250px;
  min-width: 150px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  background: transparent;
  color: #7d5c39;
  border: 2px solid #bd8b56;
  border-radius: 6px;
  box-sizing: border-box;
  &:focus {
    outline: none;
    ~ .form-label {
      top: -14px;
    }
  }
}

.form-input:not(:placeholder-shown) ~ .form-label {
  top: -14px;
}

.form-label {
  font-size: 16px;
  position: absolute;
  background: #fbe7d1;
  left: 10px;
  top: 7px;
  padding: 0 5px;
  pointer-events: none;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  transition: 0.2 ease all;
}

.form-button {
  padding: 8px 15px;
  color: #7d5c39;
  font-weight: 700;
  background: #ffbb72;
  border: 2px solid #bd8b56;
  border-radius: 8px;
}

.form-button:hover {
  border: 2px solid #7d5c39;
  scale: 1.02;
}

.form-button:focus {
  border: 2px solid #7d5c39;
  box-shadow: 0 0 0 1px #7d5c39;
  scale: 1.02;
}

.task-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 380px;
  padding: 30px 40px;
  gap: 10px;
  overflow-y: auto;
  overflow-x: auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .task-section {
    padding: 20px 10px;
  }

  .form-button {
    padding: 10px 10px;
  }
}

.task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  padding: 0;
}

.status-button {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid #7d5c39;
  border-radius: 5px;
  cursor: pointer;
}

.checked {
  background: #7d5c39;
}

.disabled {
  background: transparent;
  border-radius: 5px;
  position: relative;
  &:after {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    content: "\d7";
    font-size: 22px;
    font-weight: 700;
    color: #7d5c39;
    text-align: center;
  }
}

.disabled ~ .task {
  text-decoration: 2px line-through;
}

footer {
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
